<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title size="large">
       
    </ion-title>

    
      <img src="../assets/image/imgsw.png" alt="Picture">
    

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let user of listaUsuarios" [routerLink]="'/exibir-usuario/' + user.title"> 





    
    <div>
      <h4>{{user.title}}</h4>
      <p>{{user.release_date}}</p>
    </div>



  <ion-badge color="dark" slot="end">  
    Episode: {{user.episode_id}}
  </ion-badge>  

  </ion-item>


</ion-content>

<ion-footer>

  <ion-toolbar color="dark" class="ion-text-center">

    <ion-buttons slot="start" *ngIf="pagina > 1" >
      <ion-button (click)="buscarUsuarios(pagina - 1)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    Page: {{pagina}}
    <ion-buttons slot="end" *ngIf="pagina < totalPaginas">
      <ion-button (click)="buscarUsuarios(pagina + 1)">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>



</ion-footer>
